<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} Eat This Burger Up!
		{{else}} Ate That Burger UP!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{id}}">
		DELELTE This Burger
	</button>
</li>