<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} I Ate It !{{else}} Lets EAT UP!{{/if}}
	</button>
		<button class="Delete-burger" data-id="{{id}}">
			DELELTE 
	</button>
</li>